<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head')%>
  <body>
    <header>
      <%- include('../../partials/navbar')%>
    </header>
    <main>
      <div class="container">
        <hr />
        <h2 class="mb-3">Articles</h2>
        <a href="/admin/articles/new">
          <button class="btn bg-success text-light">Create New Articles</button>
        </a>
        <hr />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Slug</th>
              <th>Categoty</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%articles.forEach(article =>{%>
              <tr>
                <th><%= article.id%></th>
                <th><%= article.title%></th>
                <th><%= article.slug%></th>
                <th><%= article.category.title%></th>
                <th>
                  <a href="/admin/articles/edit/<%= article.id%>">
                    <button class="btn btn-warning">Edit</button>
                  </a>
                  <form method="post" action="/admin/articles/delete" id="form_delete" onsubmit="validationDelete(event, this)">
                    <input type="hidden" name="id_article" value="<%= article.id%>">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </th>
              </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </main>
  </body>
  <%- include('../../partials/footer')%>
<script src="/js/articles/index.js"></script>
</html>
