<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head')%>
  <body>
    <header>
      <%- include('../../partials/navbarclient')%>
    </header>
    <main>
        <div class="container">
          <hr>
          <div class="jumbotron">
            <h1 class="display-4">Welcome to DevPress</h1>
            <p class="lead">Is simple Blog Site</p>
          </div>
          <hr>
          <%articles.pages.rows.forEach((article =>{%>
            <div class="card mb-5">
              <div class="card-header">
                <h2><%= article.title%></h2>
              </div>
              <div class="card-body">
                <a href="/<%= article.slug%>">
                  <button class="btn btn-dark">Read Article</button>
                </a>
              </div>
            </div>
          <%}))%>
          <%if(numPage == 0){%>
            <a href="/">
                <button class="btn btn-dark mb-3">Back Page</button>
              </a>
            <%}else{%>
                <a href="/articles/page/<%= numPage - 1%>">
                    <button class="btn btn-dark mb-3">Back Page</button>
                  </a>
                <%}%>
              <%if(articles.next){%>
                <a href="/articles/page/<%= numPage + 1%> ">
                    <button class="btn btn-dark mb-3">Next Page</button>
                  </a>
                <%}%>
        </div>
    </main>
  </body>
  <%- include('../../partials/footer')%>
</html>
